<div class="login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="loading">
        Login
      </button>
    </form>
    <div class="register-link">
      <span>Don't have an account yet? </span><a routerLink="/signup"> Register</a>
    </div>
  </mat-card>
</div>


<!-- <div *ngIf="rewards.length > 0" class="rewards-container">
  <h3>Rewards</h3>
  <mat-list>
    <mat-list-item *ngFor="let reward of rewards">
      <h4 mat-line>{{ reward.name }}</h4>
      <p mat-line>{{ reward.description }}</p>
      <p mat-line>{{ reward.points }} points</p>
    </mat-list-item>
  </mat-list>
</div>
</div> -->