<div>
  <h3>REWARDS CATALOG</h3>
  <h2>Choose from the list of rewards to purchase</h2>
  <mat-list>
    <mat-list-item *ngFor="let reward of rewards | slice:0:15">
      <h4 mat-line>{{ reward.name }}</h4>
      <p mat-line class="description">{{ reward.description }}</p>
      <p mat-line>{{ getRamdomNumber() }}</p>
      <button mat-raised-button color="primary" (click)="purchaseReward(reward)">Purchase</button>
      <!-- <p mat-line>{{ reward.points }}</p> -->
    </mat-list-item>
  </mat-list>
</div>
