:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  background: linear-gradient(to bottom, #008080, #E0E0E0);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2E4A45;
  width: 100%;
  padding: 20px 0;
  position: relative;
}

/*
.header-container {
  width: 100%;
  background-color: #2E4A45; 
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
}
*/


.header-content {
  width: 100%; /* Or any other width that fits your design */
  max-width: 1200px; /* To center the content if needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 24px; /* Adjust font size as needed */
  color: white;
  margin-left: 20px;
}

.logo {
  height: 100px;
  margin-right: 20px;
}

.title {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

router-outlet {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}
