:host {
  display: block;
  height: 100%;
  width: 100%;
}

/*.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  width: 100%;
  padding: 10px 20px;
 /* position: relative;*/
/*}*/


/* Default style for before login (centered layout) */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding: 10px 20px;
  width: 100%;
}

/* Aligned to left style for after login */
.header.after-login {
  justify-content: space-between;
}

.left-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center logo and title when not logged in */
}

.left-header.aligned-left {
  justify-content: flex-start; /* Align to the left when logged in */
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.title {
  font-size: 20px;
  color: #fff;
}

.header-card {
  background: transparent;
  box-shadow: none;
  margin-right: 30px; 
}

.header-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
}

.header-links a:last-child {
  margin-right: 0;
}

.content {
  padding: 20px;
}


/*.title {
  color: #ffffff; 
  font-size: 40px; 
  font-weight: bold;
  text-align: center; 
  flex-grow: 1; 
}

.logo {
  height: 100px;
  margin-right: 50px;
}

router-outlet {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}




<div class="header">
  <img src="assets/logo.png" alt="Logo" class="logo" />
  <span class="title">LOYALTY REWARDS APPLICATION</span>
</div>
<router-outlet></router-outlet>
*/
/*
.left-header {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; 
  margin-right: 10px;
}

.title {
  font-size: 20px; 
  color: #fff; 
}
.header-card {
  background: transparent; 
  box-shadow: none;
  margin-right: 30px; 
}

.header-links a {
  color: #fff; 
  text-decoration: none;
  margin-right: 20px; 
  font-size: 16px; 
}

.header-links a:last-child {
  margin-right: 0;
}

.content {
  padding: 20px;
}
*/