<div class="user-info">
  <img src="assets/user1.jpeg" alt="User Photo" class="user-photo">
  <div class="user-field">
      <span class="label">Username :</span>
      <span class="value">{{ currentUser?.name}}</span>
  </div>
  <div class="user-field">
      <span class="label">Email :</span>
      <span class="value">{{ currentUser?.email }}</span>
  </div>
  <div class="user-field">
      <span class="label">Contact Number :</span>
      <span class="value">{{ currentUser?.contactNumber }}</span>
  </div>
  <div class="user-field">
      <span class="label">Current Points :</span>
      <span class="points">{{ currentUser?.currentPoints }}</span>
  </div>
  <button (click)="redirectToCatalog()" class="catalog-button">View Rewards Catalog</button>
</div>
